<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Category Details</h4>
                  <p class="card-description">

                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Hairtype</th>
                          <th>Description</th>
                          <th>Image</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for  i in hair %}
                        <tr>
                         <td>{{i.Hair_name}} </td>
                          <td>{{i.Hair_des}}</td>
                            <td>
                                <img src="{{i.Hair_image.url}}" width="500px" height="500px">
                            </td>
                            <td>
                                <form action="{% url 'edithair' dataid=i.id %}">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
                                </form>
                            </td>

                            <td>
                                <form action="{% url 'hairdelete' dataid=i.id %}">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</html>

{% endblock %}